<div id="page-content">
    <div id="gallery">
        <div class="gallery-container" layout="row" layout-align="center center" layout-wrap>
            <div ng-repeat="image in vm.gallery track by $index">
                <md-button class="md-whiteframe-4dp img-container" ng-click="vm.show($event, $index)" aria-label="gallery image">
                    <div class="gallery-image" style="background: url(media/galery/{{image.thumb}}) no-repeat center; background-size: cover;"></div>
                </md-button>
            </div>
        </div>

        <div class="pagination" layout="row" layout-align="center">
            <md-button class="md-primary" ng-click="vm.prevPage()" aria-label="previous page">
                <md-icon class="material-icons">&#xE314;</md-icon>
            </md-button>
            <md-button class="md-primary" ng-repeat="page in vm.pagination" ng-class="{'md-raised': page === vm.selectedPage}" ng-click="vm.getPage(page)" aria-label="pagination page" ng-bind="page+1"></md-button>
            <md-button class="md-primary" ng-click="vm.nextPage()" aria-label="next page">
                <md-icon class="material-icons">&#xE315;</md-icon>
            </md-button>
        </div>
    </div>
</div>