<div class="md-table md-whiteframe-4dp">
    <div class="md-table-header">
        <div class="md-table-row" layout="row" layout-align="start center">
            <h2 class="primary-text">Kategorie</h2>
            <md-button ng-click="add($event)" class="md-fab md-primary" aria-label="Dodaj">
                <md-icon class="material-icons">&#xE145;</md-icon>
            </md-button>
        </div>
        <div class="md-table-row bold" layout="row" layout-align="none center">
            <div class="md-table-cell" flex>
                Nazwa kategorii
            </div>
        </div>
    </div>
    <div class="md-table-body">
        <div class="md-table-row" layout="row" layout-align="none center" ng-repeat="cat in categories">
            <div class="md-table-cell actions" style="width: 100px;" layout="row">
                <md-button ng-click="edit(cat, $event)" class="md-icon-button md-primary md-hue-1" aria-label="edycja">
                    <md-icon class="material-icons">&#xE3C9;</md-icon>
                </md-button>
                <md-button ng-click="deleteCategory(cat, $event)" class="md-icon-button md-primary md-hue-1" aria-label="usuwanie">
                    <md-icon class="material-icons">&#xE872;</md-icon>
                </md-button>
            </div>
            <div class="md-table-cell bold" flex="60">
                <span ng-bind="::cat.name"></span>
            </div>
        </div>
    </div>
</div>