div,
header,
footer,
main,
section {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    height: 100%;
    padding: 60px 0 0;
    margin: 0;
}

 ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    // border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.7);
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

form {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    &-link {
        height: 100%;
        line-height: 64px;
        min-width: 150px;
        &.active {
            background-color: rgba(0, 0, 0, 0.3) !important;
        }
    }
}

.viewWrapper {
    position: relative;
    background-color: #EEE;
    padding: 25px;
    height: 100%;
    overflow-y: scroll;
}

.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5F5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.225s ease-in-out;
    z-index: 30;
    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }
}

.form-bg {
    background-color: #EEEEEE;
    margin: 10px 10px 30px;
    padding: 5px 10px;
}

.price-row {
    margin: 5px 10px 5px 50px;
    padding: 3px 3px 3px 15px;
    background-color: #EEE;
    border-radius: 4px;
    margin-left: 70px;
}

.price-list-item-container .price-row:last-of-type {
    margin-bottom: 20px;
}

.price-row {
    .md-icon-button {
        margin: 0;
    }
}

.category-row {
    margin: 5px 10px;
    padding: 5px 10px 5px 15px;
    background-color: #F5F5F5;
}

md-input-container.no-errors .md-errors-spacer {
    display: none;
}

.md-icon-button md-icon {
    color: inherit;
}

.warn-text {
    color: #F44336;
}

.primary-text {
    color: rgb(33, 150, 243);
}

.bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.testimontial-card {
    position: relative;
    margin: 10px;
    width: 200px;
    img {
        max-height: 100%;
        max-width: 100%;
    }
    .author {
        padding: 0 10px;
    }
    .caption {
        padding: 0 10px 5px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.55);
    }
}

.gallery-item {
    position: relative;
    margin: 10px;
    height: 150px;
    img {
        height: 100%;
    }
    .md-button.md-fab {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

.mgb-30 {
    margin-bottom: 30px;
}

.md-table {
    background-color: #f5f5f5;
    .md-table-header {
        position: relative;
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.9em;
        .md-table-row {
            padding-left: 115px;
            &::hover {
                background-color: initial;
            }
            .md-fab {
                margin: 0;
                position: absolute;
                bottom: 18px;
                left: 25px;
            }
        }
    }
    .md-table-row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 30px 10px 15px;
        min-height: 45px;
        transition: background-color 0.225s ease-in-out;
        &:hover {
            background-color: #EEE;
        }
    }
    .md-table-cell.actions .md-icon-button {
        margin: 0;
    }
}