$whiteColor: #FFF;
$whiteOpacityColor: rgba(255, 255, 255, .8);
$grayColor: #212121;
$yellowColor: #FFC107;
$yellowColorDark: #FF6F00;
$primary: #FFC107;
$primaryDark: #FFA000;
$darkGray: #424242;
@mixin gradient($dir, $start, $end) {
    background: $start;
    background: -webkit-linear-gradient($dir, $start, $end);
    background: -o-linear-gradient($dir, $start, $end);
    background: -moz-linear-gradient($dir, $start, $end);
    background: linear-gradient($dir, $start, $end);
}

body {
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
    min-width: 320px;
    font-size: 14px;
    padding-top: 64px;
}

section {
    position: relative;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.6em;
    color: $darkGray;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 70px;
        background-color: $darkGray;
        margin: 5px auto 0;
    }
    &.inverse {
        background-color: $grayColor;
        color: $whiteColor;
        &::after {
            background-color: $whiteColor;
        }
    }
}

p {
    margin: 1em;
}

a {
    outline: none;
}

.relative {
    position: relative;
}

.event-auto {
    pointer-events: auto;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left;
}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.white-text {
    color: $whiteColor;
}

.yellow-text {
    color: $yellowColorDark;
}

.primary-text {
    color: $primary;
}

.red-text {
    color: #F44336;
}

.container {
    margin: 0 1em;
}

.animated-bg {
    height: 200%;
    transform: translateY(0);
    box-sizing: border-box;
}

.my-icon-button {
    width: 40px !important;
    min-width: 0;
    height: 40px;
    margin: 0px !important;
    padding: 0px;
    &.open {
        md-icon {
            transform: rotateZ(180deg);
        }
    }
    md-icon {
        pointer-events: none;
        transform: rotateZ(0deg);
        transition: transform .3s ease-in-out;
    }
    &.popup-nav-btn {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        border: 4px solid #333;
        bottom: 0;
        width: 48px !important;
        min-width: 0;
        height: 48px;
        margin: 0px !important;
        padding: 0px;
        &:hover {
            background-color: $whiteColor !important;
        }
        &.prev {
            left: 0px;
        }
        &.next {
            right: 0px;
        }
        &.close {
            right: 0;
            top: 0;
        }
        md-icon {
            color: #333;
            transition: transform .3s ease-in-out;
            width: 40px;
            height: 40px;
            font-size: 40px;
        }
    }
}

#menuContent {
    display: block;
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: 59;
    background-color: $darkGray;
    #menuInner {
        position: relative;
        display: block;
        padding: 60px 15px 15px;
        width: 250px;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        .menuInnerButton {
            position: relative;
            margin: 15px 0;
        }
        .md-button {
            display: block;
            width: 100%;
            margin: 0;
            height: 48px;
            line-height: 48px;
            color: $whiteColor;
            @include gradient(to top left, #202020, #656565);
            font-weight: 700;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    height: 64px;
    width: 100%;
    background-color: #121212;
    pointer-events: none;
    transition: box-shadow .3s ease-in-out;
    .header-btn {
        display: none;
    }
    .menuButton {
        display: inline-block;
        position: relative;
        border: 1px solid $whiteColor;
        padding: 5px;
        background-color: $grayColor !important;
        margin: 12px;
        pointer-events: auto;
        span {
            display: block;
            position: absolute;
            height: 2px;
            background-color: $whiteColor;
            border-radius: 3px;
            width: 20px;
            left: 9px;
            top: 18px;
            &:first-of-type {
                top: 12px;
            }
            &:last-of-type {
                top: 24px;
            }
        }
    }
}

.logo {
    background: $whiteOpacityColor;
    padding: 2px 10px;
    position: fixed;
    top: 0px;
    right: 5px;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#page-loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    background-color: #F5F5F5;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 0.2s;
    &.is-visible {
        opacity: 1;
    }
}

#page-content {
    height: 100%;
    overflow: auto;
}

#baner {
    height: 70%;
    overflow: hidden;
    #banerContent {
        position: relative;
        height: 100%;
    }
    #firmName {
        span {
            display: inline-block;
        }
    }
    .slides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .slide {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            transition: opacity ease-in-out 0.7s;
            &.is-actual {
                opacity: 1;
                z-index: 2;
            }
            &.slide1 {
                background: url("../img/source/slide1.jpeg") no-repeat center;
                background-size: cover;
            }
            &.slide2 {
                background: url("../img/source/slide2.jpg") no-repeat center;
                background-size: cover;
            }
            &.slide3 {
                background: url("../img/source/slide3.jpg") no-repeat center;
                background-size: cover;
            }
        }
    }
    .baner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 3;
    }
    .baner-text {
        z-index: 5;
    }
}

#about {
    p {
        text-align: justify;
    }
}

#offer {
    overflow: hidden;
    .offer-header {
        overflow: hidden;
        position: relative;
        padding: 15px 0 30px;
        background-color: #000;
        box-sizing: border-box;
        .bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url("../img/source/offer.jpg") no-repeat center;
            background-size: cover;
            opacity: .4;
        }
        .offer-header-content {
            position: relative;
            h1 {
                color: $whiteColor;
                &::after {
                    background-color: $whiteColor;
                }
            }
            p {
                background-color: rgba(255, 255, 255, 0.7);
                margin: 0;
                padding: 1em;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 20px;
    }
    .offer-row {
        margin-bottom: 5px;
    }
}

#testimontials {
    .ref-button {
        color: $whiteColor;
        position: absolute;
        top: 43%;
        &.prev-button {
            left: -1em;
        }
        &.next-buton {
            right: -1em;
        }
        md-icon {
            color: inherit;
        }
    }
    .ref-container-outer {
        margin: auto;
        max-width: 450px;
        padding: 20px 40px;
        overflow: hidden;
        box-sizing: border-box;
        .ref-container {
            position: relative;
            height: 300px;
            .ref-slide {
                position: absolute;
                top: 0;
                left: 20px;
                right: 20px;
                bottom: 0;
                text-align: center;
                opacity: 0;
                .ref-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.65);
                    color: $whiteColor;
                    font-size: 1.2em;
                    font-weight: 700;
                    .testmontial-desc {
                        padding: 20px;
                    }
                    .testmontial-text {
                        margin-bottom: 15px;
                    }
                    .testmontial-author {
                        font-size: 14px;
                        font-weight: normal;
                        text-align: right;
                    }
                }
            }
        }
    }
}

#prices {
    margin-bottom: 30px;
    overflow: hidden;
    .price-header {
        overflow: hidden;
        position: relative;
        padding: 20px 0 60px;
        box-sizing: border-box;
        .price-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../img/source/pricing.jpg) no-repeat center;
            background-size: cover;
            opacity: .3;
        }
        h1 {
            position: relative;
        }
    }
    .price-cat-container {
        perspective: 700px;
        max-height: none;
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        h3 {
            margin: 0;
        }
        // &::after {
        //     display: block;
        //     content: '';
        //     background-color: $primaryDark;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     width: 100%;
        //     left: 10px;
        // }
        .price-row-details {
            overflow: hidden;
            height: 0;
        }
    }
    .price-row {
        background: #EAEAEA;
        margin: 10px 0;
        background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.05) 90%, transparent 100%);
        padding: 7px 25px;
        font-size: 0.9em;
        .price {
            font-weight: 700;
            color: $primary;
            text-align: right;
        }
    }
}

#solcraft {
    background-color: $whiteColor;
    padding-bottom: 20px;
    p {
        text-align: justify;
    }
    >div {
        margin: 0 auto;
        max-width: 1200px;
    }
    img {
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    .accent {
        color: $primary;
        font-weight: bold;
        sup {
            font-weight: normal;
        }
    }
}

#contact {
    position: relative;
    .contact-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/source/contact.jpg) no-repeat center left;
        background-size: cover;
    }
    h1 {
        position: relative;
        color: $whiteColor;
        &::after {
            background-color: $whiteColor;
        }
    }
    .container {
        padding: 0.5em 1em 1px;
        background-color: rgba(255, 255, 255, 0.93);
        position: relative;
        border-radius: 4px;
        margin: 1em 1em 3em;
    }
    form {
        .md-errors-spacer {
            display: none;
        }
        button {
            color: $whiteColor;
            width: 200px;
            md-icon {
                color: inherit;
            }
        }
    }
}

#popup-dialog {
    max-height: 90%;
    img {
        max-height: 100%;
        max-width: 100%;
    }
    #popup-cancel {
        position: absolute;
        right: 20px;
        width: 40px;
        min-width: auto;
        height: 40px;
        margin: 0;
        border: 2px solid;
        color: $whiteColor;
        md-icon {
            color: inherit;
        }
    }
}

footer {
    padding: 10px 15px;
    background-color: $darkGray;
    color: $whiteColor;
    .logo {
        margin: 10px;
        padding: 8px;
        position: static;
        width: 90px;
        height: 90px;
    }
    .info-row {
        margin-bottom: 10px;
        md-icon {
            margin-right: 10px;
        }
    }
}

.made-by {
    background-color: $grayColor;
    padding: 10px;
    text-align: center;
    color: $whiteColor;
    md-icon {
        margin: 0 8px;
    }
}


/*** GALERY ***/

#gallery {
    min-height: 100%;
    box-sizing: border-box;
    .img-container {
        width: 120px;
        height: 120px;
        margin: 7px;
        padding: 0;
        border-radius: 0;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
        transition: box-shadow .3s ease-in-out, filter .3s ease-in-out;
        transform: scale(0);
        filter: grayscale(.75);
        img {
            max-width: 100%;
        }
        .gallery-image {
            width: 100%;
            height: 100%;
        }
        &:hover {
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
            filter: grayscale(0);
        }
    }
    .gallery-container {
        max-width: 960px;
        margin: 0 auto;
        min-height: calc(100% - 135px);
    }
    #loader {
        height: 15px;
        background-color: #DDD;
        margin-top: 20px;
    }
}

#gallery-popup {
    max-width: 90%;
    max-height: 90%;
    md-toolbar {
        background-color: $grayColor;
        md-icon {
            color: $whiteColor;
        }
    }
    .md-dialog-content {
        padding: 0;
    }
    .relative {
        background-color: #F5F5F5;
        position: relative;
    }
    md-progress-circular {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .gallery-img-popup {
        position: relative;
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}

md-dialog.testimontial-dialog .md-dialog-content {
    background-color: $whiteColor;
    border-radius: 4px;
    padding: 6px;
}

.pagination {
    padding-bottom: 20px;
    width: 100%;
    .md-button {
        background-color: $whiteColor;
        min-width: 0;
        border: 1px solid;
        margin: 0 3px;
        width: 30px;
        height: 30px;
        min-height: initial;
        line-height: 31px;
        padding: 0;
        &:hover,
        &:focus {
            background-color: $whiteColor;
        }
        &.md-raised {
            border: none;
            &:hover,
            &:focus {
                background-color: rgb(51, 51, 51);
            }
        }
    }
}