$whiteColor: #FFF;
$whiteOpacityColor: rgba(255, 255, 255, .8);
$grayColor: #212121;
$yellowColor: #FFC107;
$yellowColorDark: #FF6F00;
$primary: #FFC107;
$primaryDark: #FFA000;
$darkGray: #404545;
@mixin gradient($dir, $start, $end) {
    background: $start;
    background: -webkit-linear-gradient($dir, $start, $end);
    background: -o-linear-gradient($dir, $start, $end);
    background: -moz-linear-gradient($dir, $start, $end);
    background: linear-gradient($dir, $start, $end);
}

body {
    font-family: 'Proza Libre', sans-serif;
    min-width: 320px;
    font-size: 14px;
    overflow: hidden;
}

#page-content {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

section {
    position: relative;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.6em;
    color: $darkGray;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 70px;
        background-color: $darkGray;
        margin: 5px auto 0;
    }
}

p {
    margin: 1em;
}

a {
    outline: none;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.white-text {
    color: $whiteColor;
}

.yellow-text {
    color: $yellowColorDark;
}

.primary-text {
    color: $primary;
}

.red-text {
    color: #F44336;
}

.container {
    margin: 0 1em;
}

.animated-bg {
    height: 200%;
    transform: translateY(0);
    box-sizing: border-box;
}

#menuContent {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: 59;
    background-color: $darkGray;
    #menuInner {
        position: relative;
        display: block;
        padding: 60px 15px 15px;
        width: 250px;
        height: 100%;
        box-sizing: border-box;
        .menuInnerButton {
            position: relative;
            margin: 15px 0;
        }
        .md-button {
            display: block;
            width: 100%;
            margin: 0;
            height: 48px;
            line-height: 48px;
            color: $whiteColor;
            @include gradient(to top left, #202020, #656565);
            font-weight: 700;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    .menuButton {
        position: relative;
        border: 1px solid $whiteColor;
        padding: 5px;
        background-color: $grayColor !important;
        margin: 12px;
        span {
            display: block;
            position: absolute;
            height: 2px;
            background-color: $whiteColor;
            border-radius: 3px;
            width: 20px;
            left: 9px;
            top: 18px;
            &:first-of-type {
                top: 12px;
            }
            &:last-of-type {
                top: 24px;
            }
        }
    }
    .logo {
        background: $whiteOpacityColor;
        padding: 2px 10px;
        position: fixed;
        top: 10px;
        right: 25px;
        text-align: center;
        border-radius: 50%;
        height: 70px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

#baner {
    height: 100%;
    overflow: hidden;
    #banerContent {
        position: relative;
        height: 100%;
    }
    #firmName {
        span {
            display: inline-block;
        }
    }
    .slides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .slide {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            &.slide1 {
                background: url("../img/source/slide1.jpg") no-repeat center;
                background-size: cover;
            }
            &.slide2 {
                background: url("../img/source/slide2.jpeg") no-repeat center;
                background-size: cover;
            }
            &.slide3 {
                background: url("../img/source/slide3.jpg") no-repeat center;
                background-size: cover;
            }
        }
    }
    .baner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#about {
    p {
        text-align: justify;
    }
}

#offer {
    overflow: hidden;
    .offer-header {
        overflow: hidden;
        position: relative;
        padding: 15px 0 30px;
        background-color: #000;
        box-sizing: border-box;
        .bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url("../img/source/offer.jpg") no-repeat center;
            background-size: cover;
            opacity: .4;
        }
        .offer-header-content {
            position: relative;
            h1 {
                color: $whiteColor;
                &::after {
                    background-color: $whiteColor;
                }
            }
            p {
                background-color: rgba(255, 255, 255, 0.7);
                margin: 0;
                padding: 1em;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 20px;
        li {
            margin-bottom: 5px;
        }
    }
}

#testimontials {
    h1 {
        background-color: $darkGray;
        color: $whiteColor;
        &::after {
            background-color: $whiteColor;
        }
    }
    .ref-button {
        color: $whiteColor;
        position: absolute;
        top: 43%;
        &.prev-button {
            left: -1em;
        }
        &.next-buton {
            right: -1em;
        }
        md-icon {
            color: inherit;
        }
    }
    .ref-container-outer {
        margin: auto;
        max-width: 450px;
        padding: 20px 40px;
        overflow: hidden;
        box-sizing: border-box;
        .ref-container {
            position: relative;
            height: 300px;
            .ref-slide {
                position: absolute;
                top: 0;
                left: 20px;
                right: 20px;
                bottom: 0;
                text-align: center;
                opacity: 0;
                .ref-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.65);
                    color: $whiteColor;
                    font-size: 1.2em;
                    font-weight: 700;
                    .testmontial-desc {
                        padding: 20px;
                    }
                    .testmontial-text {
                        margin-bottom: 15px;
                    }
                    .testmontial-author {
                        font-size: 14px;
                        font-weight: normal;
                        text-align: right;
                    }
                }
            }
        }
    }
}

#prices {
    margin-bottom: 30px;
    overflow: hidden;
    .price-header {
        overflow: hidden;
        position: relative;
        padding: 20px 0 60px;
        box-sizing: border-box;
        .price-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../img/source/pricing.jpg) no-repeat center;
            background-size: cover;
            opacity: .3;
        }
        h1 {
            position: relative;
        }
    }
    .price-cat-container {
        perspective: 700px;
        max-height: none;
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        h3 {
            margin: 0;
        }
        // &::after {
        //     display: block;
        //     content: '';
        //     background-color: $primaryDark;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     width: 100%;
        //     left: 10px;
        // }
        .price-row-details {
            overflow: hidden;
            height: 0;
        }
    }
    .price-row {
        background: #EAEAEA;
        margin: 10px 0;
        background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.05) 90%, transparent 100%);
        padding: 7px 25px;
        font-size: 0.9em;
        .price {
            font-weight: 700;
            color: $primary;
            text-align: right;
        }
    }
}

#contact {
    position: relative;
    .contact-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/source/contact.jpg) no-repeat center left;
        background-size: cover;
    }
    h1 {
        position: relative;
        color: $whiteColor;
        &::after {
            background-color: $whiteColor;
        }
    }
    .container {
        padding: 0.5em 1em 1px;
        background-color: rgba(255, 255, 255, 0.93);
        position: relative;
        border-radius: 4px;
        margin: 1em 1em 3em;
    }
    form {
        .md-errors-spacer {
            display: none;
        }
        button {
            color: $whiteColor;
            width: 200px;
            md-icon {
                color: inherit;
            }
        }
    }
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
    .popup-container {
        margin: 30px;
        #popup-cancel {
            width: 40px;
            min-width: auto;
            height: 40px;
            margin: 5px 0;
            border: 2px solid;
            color: $whiteColor;
            md-icon {
                color: inherit;
            }
        }
        #popup-dialog {
            width: 100%;
            background-color: $whiteColor;
            z-index: -1;
            max-height: 75%;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

footer {
    padding: 10px 15px;
    background-color: $primary;
    color: rgba(0, 0, 0, 0.87);
}

.made-by {
    background-color: $primaryDark;
    padding: 10px;
    text-align: center;
    color: $whiteColor;
}


/*** GALERY ***/

#gallery {
    .img-container {
        width: 150px;
        height: 120px;
        margin: 20px;
        padding: 0;
        border-radius: 0;
        img {
            max-width: 100%;
        }
        .gallery-image {
            width: 100%;
            height: 100%;
        }
    }

    .gallery-container {
        max-width: 960px;
        margin: 20px auto;
    }

    #loader {
        height: 15px;
        background-color: #DDD;
        margin-top: 20px;
    }
}

#gallery-popup {
    width: 90%;
    max-width: 950px;
    height: 80%;
    max-height: 765px;
    md-toolbar {
        background-color: $grayColor;
        md-icon {
            color: $whiteColor;
        }
    }
    .relative {
        position: relative;
        height: 600px;
    }
    .gallery-img-popup {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        &:first-of-type {
            position: relative;
            width: 100%;
        }
    }
}