<!DOCTYPE html>
<html>
    <head>
        <title>AdMine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
        <link rel="stylesheet" href="css/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="modules/cropper/cropper.min.css"/>
        <link rel="stylesheet" href="css/admin.css"/>

    </head>
    <body ng-app="app" ng-cloak class="appContainer">
        <header>
            <md-toolbar class="md-primary md-whiteframe-4dp">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h3 class="md-title bold">AdMine</h3>
                    <div layout="row" layout-align="space-around center" flex="70">
                        <md-button class="md-nostyle" ui-sref="category" aria-label="Cennik">Cennik</md-button>
                        <md-button class="md-nostyle" ui-sref="testimontials" aria-label="Referencje">Referencje</md-button>
                        <md-button class="md-nostyle" ui-sref="gallery" aria-label="Galeria">Galeria</md-button>
                        <form method="GET" action="/logout">                
                            <md-button type="submit" class="md-nostyle" aria-label="wyloguj">Wyloguj</md-button>
                        </form>
                    </div>
                    <div></div>
                </div>
            </md-toolbar>
        </header>
        <div class="viewWrapper">
            <div ui-view></div>
        </div>

        <script type="text/javascript" src="modules/cropper/cropper.min.js"></script>
        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-aria.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-messages.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-material.min.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>
        <script type="text/javascript" src="modules/cropper/cropper-directive.js"></script>
        <script type="text/javascript" src="modules/admin/price/controller.js"></script>
    </body>
</html>

