<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="modules/cropper/cropper.min.css"/>
        <link rel="stylesheet" href="css/admin.css"/>

    </head>
    <body ng-app="app" ng-cloak layout="row" class="appContainer">
        <div flex="15" class="md-whiteframe-9dp">
            <div>
                <h3>AdminApp</h3>
            </div>
            <div layout="column">
                <md-button class="md-nostyle" href="#/price" aria-label="Cennik">Cennik</md-button>
                <md-button class="md-nostyle" href="#/testimontials" aria-label="Referencje">Referencje</md-button>
                <md-button class="md-nostyle" href="#/gallery" aria-label="Galeria">Galeria</md-button>
                <form method="GET" action="/logout">                
                    <md-button type="submit" class="md-nostyle" aria-label="wyloguj">Wyloguj</md-button>
                </form>
            </div>
        </div>
        <div class="viewWrapper" flex>
            <div ng-view></div>
        </div>

        <script type="text/javascript" src="modules/cropper/cropper.min.js"></script>
        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-aria.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-messages.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-material.min.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>
        <script type="text/javascript" src="modules/cropper/cropper-directive.js"></script>
    </body>
</html>
