<html ng-app="webApp">
    <head>
        <title>Sebaybud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <body ng-cloak>
        <div id="menuContent">
            <div id="menuInner" layout="column" layout-align="space-between">
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp" ng-click="go('home')">Start</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp" ng-click="go('gallery')">Galeria</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">O firmie</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">Oferta</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">Oferta</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">Referencje</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">Cennik</md-button>
                </div>
                <div class="menuInnerButton">
                    <md-button class="md-whiteframe-3dp">Kontakt</md-button>
                </div>
            </div>
        </div>

        <header>
            <md-button class="md-fab md-mini menuButton" ng-click="toggleMenu()" aria-label="menu">
                <span></span>
                <span></span>
                <span></span>
            </md-button>
            <div class="logo">
                <img src="img/logo.png" alt="Logo firmy Sebaybud"/>
            </div>
        </header>

        <ui-view></ui-view>

        <script src="js/bundle.js"></script>
        
    </body>
</html>