<!DOCTYPE html>
<html ng-app="webApp" ng-strict-di>
    <head>
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script type="text/javascript" src="js/login.js"></script>
    </head>
    <body ng-cloak layout="row" layout-align="center center">
        <div flex="30" class="md-whiteframe-4dp" layout-padding>
            <div>
                <h3>Logowanie</h3>
            </div>
            <div>
                <form novalidate id="loginForm" name="loginForm" ng-submit="login(loginForm.$valid)" method="POST">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input name="username" type="text" ng-model="data.username" required/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Hasło</label>
                        <input name="password" type="password" ng-model="data.password" required/>
                    </md-input-container>
                    <div layout="row" layout-align="center">
                        <md-button class="md-primary md-raised" type="submit">
                            Zaloguj
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
