<md-button ng-click="add()" class="md-fab md-primary fab" type="button">
    <md-icon class="material-icons">add</md-icon>
</md-button>
<div layout="row" layout-align="center" layout-wrap>
    <div class="md-whiteframe-5dp gallery-item" ng-repeat="item in list track by item.id">
        <img ng-src="media/galery/{{::item.thumb}}" alt="Zdjęcie" />
        <md-button class="md-fab md-mini md-warn" ng-click="delete(item, $index)">
            <md-icon class="material-icons">delete</md-icon>
        </md-button>
    </div>
</div>