<form ng-submit="save()" novalidate layout="row" layout-align="center start">
    <md-input-container>
        <label>Nazwa</label>
        <input type="text" ng-model="newPriceName" required />
    </md-input-container>
    <md-input-container>
        <label>Cena</label>
        <input type="text" ng-model="newPricePrice" required />
    </md-input-container>
    <md-button class="md-raised md-primary" type="submit">Dodaj</md-button>
</form>

<div layout="column">
    <div layout="row" layout-align="space-around center" class="md-whiteframe-2dp"
         ng-repeat="price in priceList track by price.id">
        <h3 class="md-title">{{::price.name}}</h3>
        <h4 class="md-title">{{::price.price}}</h4>
        <div>
            <md-button class="md-fab md-mini md-primary">
                <md-icon class="material-icons">edit</md-icon>
            </md-button>
            <md-button class="md-fab md-mini" ng-click="delete(price, $index)">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
    </div>
</div>