<md-button ng-click="add($event)" class="md-fab md-primary fab" type="button">
    <md-icon class="material-icons">add</md-icon>
</md-button>
<div layout="row" layout-align="center start" layout-wrap>
    <div class="md-whiteframe-3dp testimontial-card" ng-repeat="item in list track by item.id">
        <img ng-src="media/testimontials/{{item.img}}" alt="Referencja" />
        <div layout="row" layout-align="space-between center">
            <div class="author" ng-bind="item.user"></div>
            <md-button class="md-icon-button warn-text" ng-click="delete(item, $index)">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
        <div class="caption" ng-bind="item.text"></div>
    </div>
</div>